




/*Global*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    /* list-style: none; */
    /* list-style-type: none; */
}

a {
    text-decoration: none;
}

button {
    font-family: inherit;
    border: unset;
    outline: none;
    cursor: pointer;
}

img {
    display: block;
}

.container {
    width: 1158px;
    margin: 0 auto;
}